:root {
  --gruvwhite: #fbf1c7;
  --gruvtan: #ebdbb2;
  --gruvdarktan: #a89984;
  --gruvgrey: #928374;
  --gruvdarkgrey: #3c3836;
  --gruvblack: #282828;
  --gruvred: #cc241d;
  --gruvredd: #fb4934;
  --gruvgreen: #98971a;
  --gruvgreenn: #b8bb26;
  --gruvyellow: #d79921;
  --gruvyelloww: #fabd2f;
  --gruvblue: #458588;
  --gruvbluee: #83a598;
  --gruvpurple: #b16286;
  --gruvpurplee: #d3869b;
  --gruvaqua: #689d6a;
  --gruvaquaa: #8ec07c;
}

body {
  font-family: "IBM Plex Serif";
  font-style: normal;
  background-color: var(--gruvblack);
  color: var(--gruvred);
  margin:0;
  border: 0;
  padding:0;
  overflow:hidden;
}

header {
  color: var(--gruvwhite);
  background-color: var(--gruvdarkgrey);
  font-size: 45px;
  margin: 0px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  box-shadow: 0px 10px 30px black;
  /* Welcome Message Animation stuff
  transition: opacity 2s ease-in-out; 
  opacity: 0; /*reset by js */
}

header h1 {
  margin: 0px;
}

header button {
  margin: 0;
  padding: 10;
  background-color: inherit;
  border: 0;
transition: transform .5s ease-in-out;
}
header button:hover {
  transform: rotate(1turn);
}
img:hover {
  transform: rotate(1turn);
}

main {
  background-color: var(--gruvwhite);
  background-image: url(./images/geoFcram.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: -30vh;
  color: var(--gruvblack);
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  display: inline-block;

  /*welcome message stuff
  transition: 2s ease-in-out;
  opacity: 0; /*reset by js */
}

/* Experiemental media query */
@media (max-width: 1405px){ /* 1405 is just about where the background starts to move */
  main{
    background-position-y: -10vh;

  }
  header h1 {
    color: red;
  }
}



/*   ..:: S I D E   C O L U M N   D E C O S ::..   */
.column {
  background-color: var(--gruvgrey);
  background-image: url(images/columnDeco.svg);
  width: 40px;
  height: 100vh;
  display: inline-block;
  border: solid var(--gruvdarkgrey);
}
.left{
  float: left;
  box-shadow: 10px 0px 10px var(--gruvdarkgrey);
}
.right{
  float: right;
  box-shadow: -10px 0px 10px var(--gruvdarkgrey);
}
.columnbottom{
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  background-color: var(--gruvgrey);
  background-image: url(images/columnDecoBottom.svg);
}



/*   ..:: W E L C O M E   M E S S A G E ::.. */
/* .welcome-message { 
  text-align: center;
  padding-top: 40vh;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.welcome-message img {
  width: 5rem;
  height: auto;
} */



/* ..:: I N F O   S L I D E R S ::.. */
.slidey-button {
  width: 125px;
  cursor: pointer;
}
.slidey-thing {
  position: fixed;
  top: 190px;
  right: -100%; /* Initially hidden off-screen */
  width: 50vw;
  height: 100vh;
  background-color: var(--gruvblack); /* Light gray background */
  color: var(--gruvwhite);
  opacity: 95%;
  padding: 20px;
  box-sizing: border-box;
  margin: 2px; /* 2px margin on all sides */
  border: 2px solid var(--gruvblack); /* 2px solid border */
  transition: right 0.5s ease;
}
#landing-page{
  right: 37vw;
  top: 36%;
  height: 25vh;
  width: 25vw;
  border-radius: 50px;
}
.slidey-thing.open {
  right: 25vw; /* Slide in from the right */
}
.slidey-thing button {
  background-color: var(--gruvtan); /* Button background color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: .5s ease;
}
.slidey-thing button:hover {
  background-color: var(--gruvdarktan); /* Button hover effect */
  transform: rotate(0.5turn);
}