body {
  background: #FDF6E3;
}

.title {
  color: BLACK;
  text-align: center;
}

.resume {
  color:darkslategrey;
  text-align:center;
}
.resume p{
  text-align: left;
}

.education h2{
  color: blue;
  text-align: center;
}
.se p{
  text-align: left;
  display: inline;
  margin: 0;
  color: darkblue;
}